@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.logo-img {
  padding-top: 2em;
  width: 100%;
}

.catmenu{
  min-width: 1.5rem;
}

body {
  width: 1440px;
}

.nav-container {
  background-color: #484848;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

.navbar-element-7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  cursor: pointer;
  border-radius: 0.5rem;
}

.search-input{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color:#fff;
  border-radius: 0.5rem;
}

.navbar-elements-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-element-a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.logo-app {
  width: 3.35rem;
  margin: 1rem 0rem;
}

.navbar-element {
  padding: 1rem 1.2rem;
  margin-right: 1rem;
}

.navbar-element:hover {
  background-color: #333;
  border-radius: 0.5rem;
}

.text-more-catmenu {
  margin-right: 0.4rem;
  text-decoration: none;
  color: white;
}

.search-icon-margin {
  margin-right: 0.5rem;
}

.nunito-font-family {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
}

.border-none {
  border: none;
}

.border-none:focus {
  outline: none;
}
